

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: pink;
  background: black;
  line-height: 25px;
  
  font-size: 16px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

h1{
  fonta-family: Monospace; "Sans serif";
  border: 1px solid #ffffff
}

p {
  font-family:  "Gill Sans", Monospace;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
  background: solid;
  background-color: rgba(15, 15, 15, 80%);
  border-radius: 10px;
  font-size: 105%;
   font-family: cursive, Monospace;
  border: solid;
}

fieldset {
  border: none;
  
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
  
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border: 1px solid pink;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 1%;
}

input,
textarea  {
  background-color: #FADBD8 ;
  border: 1px solid #0a0a23;
  color: gray;
}

select  {
  background-color:  ;
  color: gray;
  background-color: #FADBD8 ;
  text-align: center;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  background-color: black ;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.3rem;
  color:#ffffff;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}



